@import './styles/Colors.scss';

html {
    background: $background-blue;
}

.app {
    &-container {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    &-title {
        text-align: center;
        font-size: 25px;
        margin: 5px;
    }
}

.calendar {
    &-container {
        display: flex;
        justify-content: center;
    }

    &-body {
        width: 1000px;
        background: $background-grey;
        border-collapse: collapse;

        td {
            height: 30px;
        }
    }

    &-cell {
        width: 100px;
        position: relative;
    }

    &-entry {
        position: absolute;
        width: 90%;
        height: 16px;
        z-index: 1;

        &.reservation {
            background-color: $reserved-blue;
        }

        &.break {
            top: 0;
            background-color: $break-yellow;
        }
    }

    &-border {
        border: 1px solid $cell-border-grey;

        &-left {
            border-left: 1px solid $cell-border-grey;
        }
    }

    &-wrapper {
        overflow-x: auto;
        padding: 20px;
        padding-left: 0;
        background: $background-grey;
    }

    &-hours {
        width: 20px;
        text-align: right;
        padding-right: 4px;

        &-nonWorking {
            background: $non-working-hours-gray;
        }
    }
}

.calendarLegend {
    display: flex;

    &-hours {
        width: 32px;
    }

    &-item {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &-color {
        width: 8px;
        height: 8px;
        margin-right: 5px;

        &.reserved {
            background-color: $reserved-blue;
        }

        &.break {
            background-color: $break-yellow;
        }

        &.nonWorking {
            background-color: $non-working-hours-gray;
        }
    }
}