$background-blue: #64b5f6;
$background-grey: #f5f5f5;
$cell-border-grey: #9e9e9e;

$reserved-blue: #2196f3;
$break-yellow: #fdd835;
$non-working-hours-gray: #9e9e9e;

html {
    background: $background-blue;
}

.app {
    &-container {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    &-title {
        text-align: center;
        font-size: 25px;
        margin: 5px;
    }
}

.calendar {
    &-container {
        display: flex;
        justify-content: center;
    }

    &-body {
        width: 1000px;
        background: $background-grey;
        border-collapse: collapse;

        th {
            height: 30px;
        }
    }

    &-cell {
        width: 100px;
    }

    &-border {
        border: 1px solid $cell-border-grey;

        &-left {
            border-left: 1px solid $cell-border-grey;
        }
    }

    &-wrapper {
        padding: 20px;
        background: $background-grey;
    }

    &-hours {
        width: 20px;
        text-align: right;
        padding-right: 4px;
    }

    &-legend {
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        &-color {
            width: 8px;
            height: 8px;
            margin-right: 5px;

            &.reserved {
                background-color: $reserved-blue;
            }
    
            &.break {
                background-color: $break-yellow;
            }
    
            &.nonWorking {
                background-color: $non-working-hours-gray;
            }
        }
    }
}